
  .nk-progress-bar {
    display: flex;
    justify-content: flex-start;
  }
  .nk-progress-point {
    text-align: center;
    min-width: 30px;
    max-width: 30px;
    max-height: 10px;
    min-height: 10px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid var(--ion-color-primary);
  }
  .nk-progress-point.active {
    background-color: var(--ion-color-primary);
  }