.login-home {
  height: 100vh;
  width: 100%;
  position: relative;
}
.slideImg {
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
}
.nk-signup {
  position: absolute;
  bottom: 100px;
  z-index: 2;
  width: 100%;
  padding: 16px;
}
.nk-signupFooter {
  position: absolute;
  bottom: 50px;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 80px !important ;
}

.home-header-wrapper {
  position: absolute;
  top: 80px;
  width: 100%;
  color: white;
  z-index: 2;
  text-align: center;
  font-size: 26px;
}
