<ion-content>
  <div class="login-home" >
    <ion-slides pager="true" >

      <ion-slide>
        <img class="slideImg"
          src="https://images.unsplash.com/flagged/photo-1552981941-424aac2b4311?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
          alt="slide1" width="300">
      </ion-slide>
      <ion-slide>
        <img class="slideImg"
          src="https://www.brides.com/thmb/_JyoLJm1On4vIhp3fMB9DOorqvo=/950x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/234-d3d2dbc2c1bd4083a811448b4e966681.png"
          alt="slide2" width="300">
      </ion-slide>
      <ion-slide> 
        <img class="slideImg"
          src="https://media.weddingz.in/images/9f05e4d1434a474897831208ef607bbd/thinking-of-a-beach-wedding-check-out-the-best-beach-wedding-venues-in-goa-2.jpg"
          alt="slide3" width="300">
      </ion-slide>
      <ion-slide>
        <img class="slideImg"
          src="https://yougraphy-blog.canvera.com/wp-content/uploads/2018/12/wedding-photography-1160x770.jpg"
          alt="slide4" width="300">
      </ion-slide>
    </ion-slides>
    <div class="home-header-wrapper " *ngIf="showContent">
      <div class="app-head">RET WED</div>
      <div class="mt-5 app-head-title">
        <h5> <b>Wedding Planning For Everyone </b></h5>
      </div>
    </div>
    <div class="nk-signup" *ngIf="showContent">
      <ion-button color="primary" expand="block" (click)="presentSignUpModal()">Sign up</ion-button>
    </div>
    <div class="nk-signupFooter" *ngIf="showContent">
      <div>
        Already have a Account ? <u (click)="presentLoginInModal()">Login</u>
      </div>
    </div>
  </div>
</ion-content>