.page-center {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.nk-loginHeader {
  z-index: 2;
  text-align: right;
  ion-icon {
    font-size: 30px;
    color: white;
  }
}
// TODO : REMOVE
.nk-loginPage-transparent {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  // height: 100vh;
  // background-image: url("https://img.traveltriangle.com/blog/wp-content/uploads/2017/04/cover-for-Ultimate-Wedding-Planning-Checklist.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
}
.nk-loginForm {
  margin-top: 20px;
  width: 100%;
  min-height: 50px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nk-headerContent {
  margin-top: 25px;
  color: white;
}
.nk-loginPageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nk-login-inputs {
  min-height: 50px;
  height: fit-content;
  width: 90%;
  background-color: white;
  border-radius: 5px;
}
.nk-login-inputs:first-child {
  ion-input {
    border-bottom: 1px solid black;
  }
}
.nk-loginPage-button {
  width: 100%;
  padding: 16px;
}
.nk-forgot {
  text-align: center;
  color: white;
}

ion-content {
  --background: #6830903d;
}
