<ion-content>
  <div class="nk-login-wrapper ">
    <div class="nk-loginHeader m-3" (click)="dismiss()">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </div>
    <div class="page-center">
      <div class="nk-loginPageContent ">
        <div class="nk-headerContent mb-5">
          New To The App? <u (click)="goToSignUp()">join</u>
        </div>
        <div class="m-2">
          <div class="form-group">
            <input type="email" class="form-control" id="Email" placeholder="Email" autocomplete="one-time-code">
          </div>

          <div class="form-group">
            <input type="tel" class="form-control" id="Phonenumber" placeholder="Phonenumber"
              autocomplete="one-time-code">
          </div>

          <ion-button color="primary"  expand="block" (click)="goToGetStarted()">Login</ion-button>
        </div>
      </div>
      <div class="nk-loginPage-button">
      </div>
      <div class="nk-forgot">
        Forgot Your Password ? <u (click)="goToForgot()">click here</u>
      </div>
    </div>
  </div>

</ion-content>