<ion-content>
  <img class="getStartedImg" src="../../../../assets/img/getstarted img.jpg" alt="getStartedImg">
  <div class="ion-padding app-head-title">
    Welcome !
  </div>
  <div class="nk-getStarted-content">
    Give us the quick basics on you and your S.O.so we can customize your planning experience.
  </div>
  <ion-button class="ion-padding" color="primary" expand="block" (click)="goToWizard()">Get Started</ion-button>
</ion-content>