ion-slides {
  padding: 0 5px;
  ion-slide {
    min-width: 100%;
    min-height: 100vh;
    display: block;
    text-align: left;
  }
  .slide-title {
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    padding: 0 0.5rem;
  }

  .swipe-next {
    position: absolute;
    width: 100%;
    bottom: 40px;
    padding: 0 0.5rem;
  }
  .bg-inherit {
    background-color: inherit;
  }
  .addpic {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
