<ion-content class="m-3">
  <ion-slides pager="false" #mySlider class="mt-1">
    <!-- slide 1 -->
    <ion-slide>
      <div class="text-right m-2">
        <h6>SKIP</h6>
      </div>
      <nk-porgress-bar class="mt-2" total="1" fill="0"></nk-porgress-bar>
      <div class="p-2 wd-100">
        <h1>
          <div class="slide-title">Tell us about yourself.</div>
        </h1>
        <div class="page-center">
          <div class="form-group">
            <input type="text" class="form-control" id="FirstName" placeholder="FirstName" autocomplete="one-time-code">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="LastName" placeholder="LastName" autocomplete="one-time-code">
          </div>
          <div class="form-group">
            <ion-select [interfaceOptions]="customAlertOptions" interface="alert" class="form-control"
              placeholder="Your Role">
              <ion-select-option value="Bride">Bride</ion-select-option>
              <ion-select-option value="Groom">Groom</ion-select-option>
              <ion-select-option value="Others">Others</ion-select-option>
            </ion-select>
          </div>

        </div>
      </div>
      <div class="swipe-next">
        <ion-button color="primary" expand="block" (click)="swipeNext()">Next</ion-button>
      </div>
    </ion-slide>
    <!-- slide 2 -->
    <ion-slide>
      <div class="text-right m-2">
        <h6>SKIP</h6>
      </div>
      <nk-porgress-bar class="mt-2" total="2" fill="1"></nk-porgress-bar>
      <div class="p-2 wd-100">
        <h1>
          <div class="slide-title">Now Tell us about your other half.</div>
        </h1>
        <div class="page-center">
          <div class="form-group">
            <input type="text" class="form-control" id="FirstName1" placeholder="FirstName"
              autocomplete="one-time-code">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="LastName1" placeholder="LastName" autocomplete="one-time-code">
          </div>
          <div class="form-group">
            <ion-select [interfaceOptions]="customAlertOptions" interface="alert" class="form-control"
              placeholder="Your Role">
              <ion-select-option value="Bride">Bride</ion-select-option>
              <ion-select-option value="Groom">Groom</ion-select-option>
              <ion-select-option value="Others">Others</ion-select-option>
            </ion-select>
          </div>
        </div>
      </div>
      <div class="swipe-next">
        <ion-button color="primary" expand="block" (click)="swipeNext()">Next</ion-button>
      </div>
    </ion-slide>
    <!-- slide 3 -->
    <ion-slide>
      <div class="text-right m-2">
        <h6>SKIP</h6>
      </div>
      <nk-porgress-bar class="mt-2" total="3" fill="2"></nk-porgress-bar>
      <div class="p-2 wd-100">
        <h1>
          <div class="slide-title">When did you two get engaged?</div>
        </h1>
        <div class="page-center">
          <div class="form-group" (click)="showDate()">
            <input type="text" class="form-control bg-inherit" id="EngagementDate" placeholder="Engagement Date"
              disabled="true" autocomplete="one-time-code">
          </div>

        </div>
      </div>
      <div class="swipe-next">
        <ion-button color="primary" expand="block" (click)="swipeNext()">Next</ion-button>
      </div>
    </ion-slide>
    <!-- slide 4 -->
    <ion-slide>
      <div class="text-right m-2">
        <h6>SKIP</h6>
      </div>
      <nk-porgress-bar class="mt-2" total="4" fill="3"></nk-porgress-bar>
      <div class="p-2 wd-100">
        <h1>
          <div class="slide-title">Congrats! Do you know your venue yet?</div>
        </h1>
        <div class="page-center">
          <div class="form-group flex">
            <ion-checkbox class="mr-2" color="primary" mode="ios"></ion-checkbox>
            <span class="pl-2"> Yes,We even booked it</span>
          </div>
          <div class="form-group flex">
            <ion-checkbox class="mr-2" color="primary" mode="ios"></ion-checkbox>
            <span class="pl-2">Nope,We are still considering options</span>
          </div>

        </div>
      </div>
      <div class="swipe-next">
        <ion-button color="primary" expand="block" (click)="swipeNext()">Next</ion-button>
      </div>
    </ion-slide>
    <!-- slide 5 -->
    <ion-slide>
      <div class="text-right m-2">
        <h6>SKIP</h6>
      </div>
      <nk-porgress-bar class="mt-2" total="5" fill="4"></nk-porgress-bar>

      <div class="p-2 wd-100">
        <h1>
          <div class="slide-title">That's great! Are you thinking big celebration or intimate reception?</div>
        </h1>
        <div class="mt-3 pt-2">
          <div class="form-group">
            <ion-select [interfaceOptions]="customAlertOptionsGuest" interface="alert" class="form-control"
              placeholder="Estimation Guest Count">
              <ion-select-option value="100-1000">100-1000</ion-select-option>
              <ion-select-option value="1000-50000">1000-50000</ion-select-option>
              <ion-select-option value="Above 50000">Above 50000</ion-select-option>
            </ion-select>
          </div>

        </div>
      </div>
      <div class="swipe-next">
        <ion-button color="primary" expand="block" (click)="swipeNext()">Next</ion-button>
      </div>
    </ion-slide>
    <!-- slide 6 -->
    <ion-slide>
      <div class="text-right m-2">
        <h6>SKIP</h6>
      </div>
      <nk-porgress-bar class="mt-2" total="6" fill="5"></nk-porgress-bar>
      <div class="p-2 wd-100">
        <h1>
          <div class="slide-title">Do you know how much you'd like to spend?</div>
        </h1>
        <div class="page-center">
          <div class="form-group">
            <ion-select [interfaceOptions]="customAlertOptionsBudget" interface="alert" class="form-control"
              placeholder="Estimation Budget">
              <ion-select-option value="1L-10L">1L-10L</ion-select-option>
              <ion-select-option value="10L-50L">10L-50L</ion-select-option>
              <ion-select-option value="Above 50L's">Above 50L's</ion-select-option>
            </ion-select>
          </div>

        </div>
      </div>
      <div class="swipe-next">
        <ion-button color="primary" expand="block" (click)="swipeNext()">Next</ion-button>
      </div>
    </ion-slide>
    <!-- slide 7 -->
    <ion-slide>
      <div class="text-right m-2">
        <h6>SKIP</h6>
      </div>
      <nk-porgress-bar class="mt-2" total="7" fill="6"></nk-porgress-bar>
      <div class="p-2 wd-100 page-center">
        <h1>
          <div class="slide-title">Last thing: Add a pic of you two!</div>
        </h1>
        <div class="">
          <div class="form-group">
            <input style="display: none;" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg, image/jpg">
          </div>

        </div>
      </div>
      <div class="swipe-next">
        <ion-button color="primary" expand="block" >
          <label class="addpic" for="avatar">Add a photo</label>
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>