.nk-signupHeader {
  text-align: right;
  ion-icon {
    font-size: 30px;
    margin: 10px;
    color: white;
  }
}

.terms-cond {
  font-size: 12px;
  text-align: center;
  color: white;
}

.page-center {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.nk-signupForm {
  margin-top: 20px;
  width: 100%;
  min-height: 50px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nk-headerContent {
  margin-top: 25px;
  // height: 50px;
  // width: 245px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.nk-signupPageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nk-signup-inputs {
  min-height: 50px;
  height: fit-content;
  width: 90%;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}
.nk-signup-inputs:first-child {
  ion-input {
    border-bottom: 1px solid black;
  }
}
.nk-signupPage-button {
  width: 100%;
  padding: 16px;
}
.nk-checkBox {
  display: flex;
}

ion-content {
  --background: #6830903d;
}
