<ion-content>
  <div class="nk-signupPage">
    <div class="nk-signupHeader" (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </div>
    <div class="nk-signupPageContent">
      <div class="nk-headerContent">
        <div class="ion-padding text-center mb-3">If you already have an account on the Ret Web , use it to <u (click)="goToLogin()">Login
          </u></div>
      </div>
      <div class="nk-signupForm">
        <div class="ion-padding">
          <div class="form-group">
            <input type="email" class="form-control" id="Email" placeholder="Email" autocomplete="one-time-code">
          </div>

          <div class="form-group">
            <input type="tel" class="form-control" id="Phonenumber" placeholder="Phonenumber"
              autocomplete="one-time-code">
          </div>
          <div class="terms-cond">By clicking 'Sign Up', I agree to Ret Wed's <u>Privacy Policy</u> and <u>Terms of Use</u>
          </div>
          <ion-button class="mt-5" color="primary" expand="block" (click)="signUp()">Sign Up</ion-button>
        </div> 
      </div>
    </div>
  </div>
</ion-content>