/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-Regular;
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-Header;
  src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Pacifico;
  src: url("./assets/fonts/Pacifico/Pacifico-Regular.ttf");
}
@font-face {
  font-family: Avenir-Heavy;
  src: url("./assets/fonts/Avenir-Heavy/Avenir-Heavy.ttf");
  // src: url("./assets/fonts/Avenir-Heavy/AEH.ttf");
}

body {
  font-family: var(--ion-font-family);
  font-size: var(--ion-font-size-body);
}

.app-head {
  color: var(--ion-color-primary);
  font-family: Pacifico;
  font-style: italic;
  font-weight: 200;
  font-size: 40px;
  margin: 5px;
}

.app-head-title {
  font-weight: bold;
  color: black;
}

.fhead {
  font-family: var(--ion-font-family-header);
  font-size: var(--ion-font-size-header);
}
.f-black {
  color: black;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 80px !important ;
}

.modal-wrapper {
  background: transparent !important;
}

u {
  color: #fff;
}

.page-center {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.wd-100{
  width: 100%;
}
.flex{
  display: flex;
}